<!DOCTYPE html>
<html>

<head>

</head>

<body>

    <div id="app-3">
        <span v-if="seen">I guess you can see me!</span>
        <span v-else>oh no! you can't see me!</span>
    </div>

    <div id="app-4">
        <ul>
            <li v-for="grocery in groceries">
                {{ grocery.name }}
            </li>
        </ul>
    </div>

    <div id="app">
        <p v-show="isNinja">Invisible like a ninja!</p>
        <p v-show="!isNinja">Here I am!</p>

        <button v-on:click="isNinja = !isNinja">Toggle Ninja Skills</button>
    </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="/Users/adriennecallie/Desktop/SIT120/week 4 task 2/app.js"></script>

</html>
